.env
.streamlit/secrets.toml
# Entorno virtual
venv/
*.pyc
__pycache__/
*.egg-info/

# Variables de entorno
.env
.env.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Datos locales
data/


# IDE
.vscode/
.idea/
*.swp
